<!-- Call To Action -->
<a class="card border-0 bg-dark link-white text-white mb-4" href="https://github.com/ahmetcangir/flask-mvc-app">
    <div class="card-body z-index-1">
        <div class="d-flex align-items-center">
            <i class="fab fa-github fa-3x mr-4"></i>
            <p class="mb-0">Stay up to date for any updates and contributions!</p>
        </div>
    </div>

    <!-- SVG BG -->
    <svg class="position-absolute bottom-0 left-0" xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 323"
        enable-background="new 0 0 1920 323" xml:space="preserve">
        <polygon fill="#ffffff" style="fill-opacity: .05;" points="-0.5,322.5 -0.5,121.5 658.3,212.3 "></polygon>
        <polygon fill="#ffffff" style="fill-opacity: .1;" points="-2,323 1920,323 1920,-1 "></polygon>
    </svg>
    <!-- End SVG BG -->
</a>
<!-- End Call To Action -->