<!-- Footer -->
<footer class="bg-dark font-weight-light text-white-55 pt-11 pb-5 overflow-hidden">
	<div class="container">
		<div class="row justify-content-md-between">
			<div class="col-md-12 col-lg-4 mb-4 mr-lg-auto">
				<img class="mb-3" src="static/assets/img/logo-light.png" alt="Docs UI Kit" style="width: 170px;">
				<p class="small font-weight-light mb-3">Docs UI Kit is fully responsive template with variety of
					documentation layouts, functional features and ready to use pages.</p>
			</div>

			<div class="col-sm-4 col-lg-2 mb-4">
				<h4 class="h6 text-white mb-3">Company</h4>

				<!-- Links -->
				<ul class="list-unstyled">
					<li class="mb-3"><a class="link-white-55" href="#">About Us</a></li>
					<li class="mb-3"><a class="link-white-55" href="#">Offers</a></li>
					<li class="mb-3"><a class="link-white-55" href="#">Contacts</a></li>
				</ul>
				<!-- End Links -->
			</div>

			<div class="col-sm-4 col-lg-2 mb-4">
				<h4 class="h6 text-white mb-3">Support</h4>

				<!-- Links -->
				<ul class="list-unstyled">
					<li class="mb-3"><a class="link-white-55" href="#">Community</a></li>
					<li class="mb-3"><a class="link-white-55" href="#">Status</a></li>
					<li class="mb-3"><a class="link-white-55" href="#">FAQ</a></li>
				</ul>
				<!-- End Links -->
			</div>

			<div class="col-sm-4 col-lg-2 mb-4">
				<h4 class="h6 text-white mb-3">Contacts</h4>

				<!-- Links -->
				<ul class="list-unstyled">
					<li class="mb-3"><a class="link-white-55" href="#">info@htmlstream.com </a></li>
					<li class="mb-3"><a class="link-white-55" href="#">1-800-643-4500</a></li>
				</ul>
				<!-- End Links -->
			</div>
		</div>

		<hr class="my-5 opacity-10">

		<div class="row">
			<div class="col-md-7">
				<p class="small font-weight-light mb-md-0">&copy; 2019 <a class="text-white"
						href="https://htmlstream.com/">Htmlstream</a>. Under MIT license.</p>
			</div>

			<div class="col-md-5 text-md-right">
				<ul class="list-inline mb-0">
					<li class="list-inline-item mr-1 mr-xl-2">
						<a class="link-white-55" target="_blank" href="https://github.com/htmlstreamofficial/">
							<i class="fab fa-github"></i>
						</a>
					</li>
					<li class="list-inline-item mx-1 mx-xl-2">
						<a class="link-white-55" target="_blank" href="https://www.facebook.com/htmlstream">
							<i class="fab fa-facebook"></i>
						</a>
					</li>
					<li class="list-inline-item mx-1 mx-xl-2">
						<a class="link-white-55" target="_blank" href="https://www.instagram.com/htmlstream">
							<i class="fab fa-instagram"></i>
						</a>
					</li>
					<li class="list-inline-item mx-1 mx-xl-2">
						<a class="link-white-55" target="_blank" href="https://twitter.com/htmlstream">
							<i class="fab fa-twitter"></i>
						</a>
					</li>
					<li class="list-inline-item ml-1 ml-xl-2">
						<a class="link-white-55" target="_blank" href="https://dribbble.com/htmlstream">
							<i class="fab fa-dribbble"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>
<!-- End Footer -->

<!-- Go to Top -->
<a class="js-go-to ui-go-to" href="javascript:;">
	<span class="fa fa-arrow-up ui-go-to__inner"></span>
</a>
<!-- End Go to Top -->