<!-- Header -->
<header class="ui-header">
	<!-- Navbar -->
	<nav class="navbar navbar-expand-lg navbar-light bg-white position-absolute left-0 right-0 flex-nowrap z-index-3">
		<div class="container">
			<a class="navbar-brand" href="/">Free Web Templates</a>

			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo"
				aria-controls="navbarTogglerDemo" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarTogglerDemo">
				<ul class="navbar-nav ml-auto mt-2 mt-lg-0">
					<li class="nav-item dropdown ml-lg-6 mb-2 mb-lg-0">
						<a class="nav-link px-0" href="#" id="navbarDropdown-2" role="button" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false">
							<i class="fab fa-github mr-1"></i> Docs Layouts <i class="fas fa-angle-down small ml-1"></i>
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown-2">
							<a class="dropdown-item" href="doc-1.html" target="_blank">Docs Layout 1 <i
									class="fa fa-external-link-square-alt text-muted small opacity-30 ml-2"></i></a>
							<a class="dropdown-item" href="doc-2.html" target="_blank">Docs Layout 2 <i
									class="fa fa-external-link-square-alt text-muted small opacity-30 ml-1"></i></a>
							<a class="dropdown-item" href="doc-3.html" target="_blank">Docs Layout 3 <i
									class="fa fa-external-link-square-alt text-muted small opacity-30 ml-1"></i></a>
							<a class="dropdown-item" href="doc-4.html" target="_blank">Docs Layout 4 <i
									class="fa fa-external-link-square-alt text-muted small opacity-30 ml-1"></i></a>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- End Navbar -->
</header>
<!-- End Header -->