<!-- JS Global Compulsory -->
<script src="{{ url_for('static', filename='vendor/jquery/dist/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/jquery-migrate/dist/jquery-migrate.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/popper.js/dist/umd/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>

<!-- JS Implementing Plugins -->
<script src="{{ url_for('static', filename='vendor/sticky-sidebar/dist/sticky-sidebar.min.js') }}"></script>

<!-- JS -->
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
<script src="{{ url_for('static', filename='js/sticky-sidebar.js') }}"></script>