<div class="list-group mb-4" id="faq" role="tablist">
    <a class="list-group-item list-group-item-action active" id="faq-purchase" data-toggle="tab"
        href="#faq-purchase-content" role="tab" aria-controls="faq-purchase-content" aria-selected="true">
        <i class="fa fa-fw fa-shopping-basket mr-1"></i> Purchase
    </a>

    <a class="list-group-item list-group-item-action" id="faq-installation" data-toggle="tab"
        href="#faq-installation-content" role="tab" aria-controls="faq-installation-content" aria-selected="false">
        <i class="fa fa-fw fa-adjust mr-1"></i> Installation
    </a>

    <a class="list-group-item list-group-item-action" id="faq-update" data-toggle="tab" href="#faq-update-content"
        role="tab" aria-controls="faq-update-content" aria-selected="false">
        <i class="fa fa-fw fa-layer-group mr-1"></i> Update
    </a>

    <a class="list-group-item list-group-item-action" id="faq-gitlab" data-toggle="tab" href="#faq-gitlab-content"
        role="tab" aria-controls="faq-gitlab-content" aria-selected="false">
        <i class="fab fa-fw fa-github mr-1"></i> Github
    </a>
</div>